* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

CHANGELOG.md export-ignore
CONTRIBUTING.md export-ignore
.styleci.yml export-ignore
/phpunit.maintenance.xml export-ignore
/.github/workflows/issues.yml export-ignore
/.github/workflows/maintenance.yml export-ignore
/.github/workflows/pull-requests.yml export-ignore
/.github/workflows/release-smoke.yml export-ignore
/.github/workflows/update-changelog.yml export-ignore
/tests/Maintenance export-ignore
